@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.625;
}

body {
  @apply bg-gray-200 dark:bg-zinc-950 dark:text-white;
}

/* Player's CSS */
.player-container {
  /* Match the border, bg, and text colors to Button */
  border: 1px solid #cccccc; /* Example border color */
  background-color: #ffffff; /* Example background color */
  color: #333333; /* Example text color */
}

.bars {
  display: flex;
  align-items: flex-end;
  height: 50px; /* Adjust based on your design */
  justify-content: space-around;
}

.bar {
  width: 5px; /* Adjust based on your design */
  background-color: #ffcd05; /* Example color, match this to your theme */
  margin: 0 2px;
  border-radius: 5px;
  animation: barAnimation 1s ease-in-out infinite alternate;
}

/* Responsive equalizer bars */
@media (min-width: 768px) {
  .bar {
    width: 10px; /* Larger width on larger screens */
  }
}

/* Keyframes for bar animation */
@keyframes barAnimation {
  0% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}

/* Animating specific bars to vary the equalizer effect */
.bar1 {
  animation-delay: 0s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.4s;
}
.bar4 {
  animation-delay: 0.1s;
}
.bar5 {
  animation-delay: 0.3s;
}
